/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.popular-movie {
    float: left;
}

.mooviews-font {
    color: #ed5495 !important;
}

.hidden {
    display: none;
}

/*this is the css for the movie details page*/

.panel-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel.panel-default {
    border: none;
    box-shadow: none !important;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}
.panel-heading {
    border: none;
    background-color: #eee;

}
.panel-body {
    background-color: #f5f5f5;
}
.panel-title {
    font-weight: 400;
}

/*trying to add padding to tags on movie details*/
.tags {
    background: #ed5495;
    border-radius: 2px;
    font-weight: bold;
    padding: 2px 4px;
    margin: 0 2px;
}

.genre-tag {
    background: #ed5495;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: normal;
    padding: 2px 4px;
}

/*feed resize*/
#feed {
    font-size: medium;
}

/*trying to change button color*/

.btn-danger {
    background: #c3556a;
}

.btn-success {
    background: #94d571;
}

/*trying to change link color*/
#register a:link {
     color: white;
 }

#register a:visited {
    color: white;
}

#register-g a:link {
    color: white;
}

#register-g a:visited {
    color: white;
}

a:link {
    color: #ed5495;
}

a:visited {
    color: #c3556a;
}

.selection {
    color: #ed5495;
}

