<nav style="background-color: #444244" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand mooviews-font" href="#">mooviews</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="mooviews-font" href="#/user/{{model.user._id}}/activity">
                        <span class="glyphicon glyphicon-flash"></span>
                        Activity
                    </a>
                </li>
                <li>
                    <a class="mooviews-font" href="#/user/{{model.user._id}}/discover">
                        <span class="glyphicon glyphicon-search"></span>
                        Discover
                    </a>
                </li>
                <li>
                    <a class="mooviews-font" href="#/user/{{model.user._id}}/lists">
                        <span class="glyphicon glyphicon-list"></span>
                        Lists
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="mooviews-font" href="#/user/{{model.user._id}}/profile">
                        <span class="glyphicon glyphicon-user"></span>
                        Profile
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
