<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form">
                <fieldset>
                    <h3><img src="../images/moovies-type-logo-black.png" alt="M-Black" hspace="25" height="100" width="500"></h3>
                    <hr class="colorgraph">
                    <div id="dangerAlert" class="alert alert-danger" role="alert"></div>
                    <div class="form-group">
                        <input ng-model="user.email"
                               type="email"
                               name="email"
                               id="email"
                               class="form-control input-lg"
                               placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input ng-model="user.password"
                               type="password"
                               name="password"
                               id="password"
                               class="form-control input-lg"
                               placeholder="Password">
                    </div>
                    <hr class="colorgraph">
                    <div id="register-g">
                    <a href="/auth/google" class="btn btn-danger btn-block">
                        <span class="fa fa-google-plus"></span>
                        Sign in with Google
                    </a>
                    </div>
                    <hr class="colorgraph">
                    <div id="register" class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a href="#/register" class="btn btn-lg btn-primary btn-block">Register</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a ng-click="model.login(user)" class="btn btn-lg btn-success btn-block">Sign In</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <br>
    <br>
    <center>
    <img src="../images/moovies-graphic.png" alt="M-Cow" vspace="30" height="300" width="800">
    </center>
</div>