<div ng-include src="'views/templates/nav-bar.template.client.html'"></div>


<div class="container-fluid">
    <div class="col-md-offset-3 col-md-6">
        <center>
        <h3><img src="../images/moovies-type-logo-black.png" alt="M-Black" height="100" width="500"></h3>
        </center>
        <div class="list-group">
            <div ng-if="model.feed.length === 0">
                <h3 style="text-align: center">Start making lists and adding followers to populate your feed!</h3>
            </div>

            <div ng-repeat="feedItem in model.feed" class="list-group-item">
                <div id="feed" ng-switch="feedItem.type">
                    <div ng-switch-when="CREATE">
                        <p><a href="#/user/{{feedItem.user._id}}/profile">{{feedItem.user.firstName}}</a> created a new list called <a href="#/user/{{feedItem.user._id}}/lists">“{{feedItem.movieList.title}}”</a></p>
                        <p ng-bind="feedItem.dateCreated | date:'h:mma MM/dd/yyyy'">{{feedItem.dateCreated}}</p>
                    </div>
                    <div ng-switch-when="ADD">
                        <p><a href="#/user/{{feedItem.user._id}}/profile">{{feedItem.user.firstName}}</a> added a new movie to their list <a href="#/user/{{feedItem.user._id}}/lists">“{{feedItem.movieList.title}}”</a> called <a href="#/user/{{model.user._id}}/movie/{{feedItem.movie.id}}">“{{feedItem.movie.title}}”</a></p>
                        <p ng-bind="feedItem.dateCreated | date:'h:mma MM/dd/yyyy'">{{feedItem.dateCreated}}</p>
                    </div>
                    <div ng-switch-when="DELETE">
                        <p><a href="#/user/{{feedItem.user._id}}/profile">{{feedItem.user.firstName}}</a> deleted <a href="#/user/{{feedItem.user._id}}/movie/{{model.movie._mid}}">“{{feedItem.movie.title}}”</a> from their list <a href="#/user/{{model.user._id}}/lists">“{{feedItem.movieList.title}}”</a></p>
                        <p ng-bind="feedItem.dateCreated | date:'h:mma MM/dd/yyyy'">{{feedItem.dateCreated}}</p>
                    </div>
                    <div ng-switch-when="FOLLOW">
                        <p><a href="#/user/{{feedItem.user._id}}/profile">{{feedItem.user.firstName}}</a> started following <a href="#/user/{{feedItem.user._id}}/profile">{{feedItem.followUser.firstName}} {{feedItem.followUser.lastName}}</a></p>
                        <p ng-bind="feedItem.dateCreated | date:'h:mma MM/dd/yyyy'">{{feedItem.dateCreated}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>



<!--<div ng-repeat="movie in model.popularMovies">-->
    <!--<div class="popular-movie">-->
        <!--<h5>{{movie.original_title}}</h5>-->
        <!--<img class="popular-movie-poster" src="http://image.tmdb.org/t/p/w92/{{movie.poster_path}}"/>-->
    <!--</div>-->
<!--</div>-->
</div>