<div ng-include src="'views/templates/nav-bar.template.client.html'"></div>

<div class="container-fluid">
    <div class="col-md-4 hidden-xs">
        <h4 style="display: inline-block">My Lists</h4>
        <button type="button" class="btn btn-default" id="addFormButton" style="float: right; display: inline-block">
            <span class="gliphicon glyphicon-plus"></span>
        </button>
        <form id="addForm">
            <div class="form-group">
                <input ng-model="list.title"
                       type="text"
                       id="title"
                       class="form-control"
                       placeholder="Title"/>
            </div>
            <div class="form-group">
                <textarea ng-model="list.description"
                          id="description"
                          class="form-control"
                          placeholder="Description"></textarea>
            </div>
            <a class="btn btn-success btn-block" ng-click="model.createList(list)">
                Create List
            </a>
            <hr class="colorgraph">
        </form>

        <div id="list-select" class="list-group">
            <a ng-repeat="list in model.movieLists" id="list-select2" ng-click="model.setSelected(list)" ng-class="{active:selected==list}" class="list-group-item">
                {{list.title}}
                <span class="badge">
                    {{list.movies.length}}
                </span>
            </a>
        </div>
    </div>

    <div class="col-md-8">
        <ul class="list-group">
            <li ng-repeat="movie in model.selectedMovieListMovies" class="list-group-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="http://image.tmdb.org/t/p/w154/{{movie.poster_path}}"/>
                    </div>
                    <div class="col-md-9">
                        <h3>
                            <a href="#/user/{{model.user._id}}/movie/{{movie.id}}">
                                {{movie.title}}
                            </a>
                        </h3>
                        <p>{{movie.overview}}</p>                        
                    </div>
                </div>
                <a ng-click="model.removeMovieFromList(selected._id, movie.id)" class="btn btn-danger btn-block">
                    Remove from list
                </a>
            </li>
        </ul>

        <a ng-if="selected._id" class="btn btn-danger btn-block" ng-click="model.deleteList(selected._id)">
            Delete List
        </a>
    </div>
</div>