<div class="container-fluid">

    <hr class="colorgraph">

    <div class="col-md-4 hidden-xs">
        <h4 style="display: inline-block">My Lists</h4>
        <button type="button" class="btn btn-default" id="addFormButton" style="float: right; display: inline-block">
            <span class="gliphicon glyphicon-plus"></span>
        </button>
        <form id="addForm">
            <div class="form-group">
                <input ng-model="list.title"
                       type="text"
                       id="title"
                       class="form-control"
                       placeholder="Title"/>
            </div>
            <div class="form-group">
                <textarea ng-model="list.description"
                          type="text"
                          id="description"
                          class="form-control"
                          placeholder="Description"></textarea>
            </div>
            <a class="btn btn-success btn-block" ng-click="model.createList(list)">
                Create List
            </a>
            <hr class="colorgraph">
        </form>

        {{selected._id || "none"}}

        <div class="list-group">
            <a ng-repeat="list in model.movieLists" ng-click="$parent.selected = list" ng-class="{active:selected==list}" class="list-group-item">
                {{list.title}}
                <span class="badge">
                    {{list.movies.length}}
                </span>
            </a>
        </div>
    </div>

    <div class="col-md-8">
        <form role="form">
            <div class="row">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="searchValue" name="search" placeholder="Enter movie name" required/>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit" ng-click="model.searchMovies(searchValue)"><span class="glyphicon glyphicon-search" aria-hidden="true"><span style="margin-left:10px;">Search</span></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>

        <ul class="list-group">
            <li ng-repeat="movie in model.movies" class="list-group-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="http://image.tmdb.org/t/p/w154/{{movie.poster_path}}"/>
                    </div>
                    <div class="col-md-9">
                        <h3>{{movie.title}}</h3>
                        <p>{{movie.overview}}</p>                        
                    </div>
                </div>
                <a class="btn btn-success btn-block">
                    Add to list
                </a>
            </li>
        </ul>

        <a class="btn btn-danger btn-block" ng-click="model.deleteList(selected._id)">
            Delete List
        </a>
    </div>
</div>