<div ng-include src="'views/templates/nav-bar.template.client.html'"></div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <!-- poster goes here -->
                <div class="tab-featured-image">
                    <div class="tab-content">
                        <div class="tab-pane  in active" id="tab1">
                            <img src="http://image.tmdb.org/t/p/w500/{{model.movie.poster_path}}" alt="tab1" class="img img-responsive">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <!-- begin panel group -->
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <!-- panel 1 -->
                    <div class="panel panel-default">
                        <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="true">
                            <div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h3>{{model.movie.title}}</h3>
                            </div>
                        </span>

                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <!-- Tab content goes here -->
                                &nbsp;&nbsp;&nbsp;&nbsp;{{model.movie.overview}}
                            </div>
                        </div>
                    </div>
                    <!-- / panel 1 -->

                    <!-- panel 1.1 -->
                    <div class="panel panel-default">
                        <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="true">
                             <div class="panel-heading" role="tab" id="headingOneOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h4 class="panel-title">Tagline</h4>
                            </div>
                        </span>

                        <div id="collapseOneOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <!-- Tab content goes here -->
                                "{{model.movie.tagline}}"
                            </div>
                        </div>
                    </div>
                    <!-- / panel 1.1 -->

                    <!-- panel 1.2 -->
                    <div class="panel panel-default">
                        <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="true">
                            <div class="panel-heading" role="tab" id="headingOneTwo"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h4 class="panel-title">Production Companies</h4>
                            </div>
                        </span>

                        <div id="collapseOneTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <!-- Tab content goes here -->
                                <p ng-repeat="company in model.movie.production_companies">- {{company.name}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- / panel 1.2 -->

                    <!-- panel 2 -->
                    <div class="panel panel-default">
                        <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4 class="panel-title collapsed">Release Date: {{model.movie.release_date}}</h4>
                        </div>
                    </span>
                    </div>
                    <!-- / panel 2 -->

                    <!-- panel 2.1 -->
                    <div class="panel panel-default">
                        <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingTwoOne" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4 class="panel-title collapsed">Length: {{model.movie.runtime}} minutes</h4>
                        </div>
                    </span>
                    </div>
                    <!-- / panel 2.1 -->

                    <!-- panel 2.2 -->
                    <div class="panel panel-default">
                        <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingTwoTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4 class="panel-title collapsed">Genre:
                                <span class="label label-default tags" ng-repeat="genres in model.movie.genres">{{genres.name}}</span>
                                <br>
                            </h4>
                        </div>
                    </span>
                    </div>
                    <!-- / panel 2.2 -->

                    <!-- panel 2.3 -->
                    <div class="panel panel-default">
                        <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingTwoThree" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4 class="panel-title collapsed">Rating:
                                <span class="label label-default">{{model.movie.contentRating}}</span>
                                <br>
                            </h4>
                        </div>
                    </span>
                    </div>
                    <!-- / panel 2.3 -->

                    <!--  panel 3 -->
                    <div class="panel panel-default">
                        <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h4 class="panel-title">Status: {{model.movie.status}} </h4>
                        </div>
                    </span>
                    </div>

                </div> <!-- / panel-group -->
            </div> <!-- /col-md-4 -->
        </div> <!--/ .row -->
    </div> <!-- end sidetab container -->
    </html>
</div>